/* Add these styles to your list.styles.css file */

.names {
    display: grid;
    grid-template-rows: auto auto; /* Define the number of rows as needed */
    gap: 10px; /* Adjust the gap between rows */
    background-color: #a8c8f0;
    border: 1px solid white;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
    padding: 25px;
    cursor: pointer;
    margin: 15px;
  }
  
  .names > * {
    color: #333333 ;
    text-align: center;
  }

