.NameList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

/* Add this style to center the Search_box and Button horizontally */
.NameList > div {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap as needed */
}

@media screen and (min-width: 768px) {
  .NameList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax values as needed */
    gap: 10px;
  }
}
